<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Socket.io</h1>
    <div id="chat">

    </div>
    <input type="text" name="" id="msg"><br>
    <input type="text" name="" id="username" placeholder="Nome do usuário">
    <button onclick="enviar()">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script>
    var socket = io("http://localhost:3000");

    socket.on("disconnect", () => {
        console.log("Desconectado");
    })

    socket.on("showmsg", (data) => {
        console.log(data);
        var chat = document.getElementById("chat");
        var p = document.createElement("p");
        p.innerHTML = data.username + ": " + data.msg;
        chat.append(p);
    })

    function enviar() {
        var msg= document.getElementById("msg").value;
        var username = document.getElementById("username").value;

        socket.emit("msg", {msg: msg, username: username})
        
    }
</script>
</html>